<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<h2 mat-dialog-title>Edit Address</h2>
<mat-dialog-content class="mat-typography">
    

    <div>
        <p>
            <mat-form-field appearance="outline" class="mt-1 full-with">
                <mat-label>Street & House No.</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.street"  matInput placeholder="Placeholder">
            </mat-form-field>
        </p>
    </div>

    <div class="one-row">
        <p>
            <mat-form-field appearance="outline" class="mt-1">
                <mat-label>Zip Code</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.zipCode"  matInput placeholder="Placeholder">
            </mat-form-field>
        </p>
         <p>
            <mat-form-field appearance="outline" class="mt-1">
                <mat-label>City</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.city" matInput placeholder="Placeholder">
            </mat-form-field>
        </p>
    </div>
    <!-- TODO Reihnenfolge, required, html validation und placeholder -->
    
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button [disabled]="loading" mat-button mat-dialog-close>Cancel</button>
  <button [disabled]="loading" mat-button [mat-dialog-close]="true" (click)="saveUser()" cdkFocusInitial >Save</button>
</mat-dialog-actions>

