<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<h2 mat-dialog-title>Edit User</h2>
<mat-dialog-content class="mat-typography">
    <div class="one-row">
        <!-- //TODO für alle Felder  Placeholder -->
        <p >
            <mat-form-field appearance="outline" class="mt-1">
                <mat-label>First Name</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.firstName" matInput placeholder="Placeholder">
            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="outline" class="mt-1">
                <mat-label>Last Name</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.lastName"  matInput placeholder="Placeholder">
            </mat-form-field>
        </p>

    </div>

   

    <!-- TODO Reihnenfolge, required, html validation und placeholder -->
    <div>
        <p>
            <mat-form-field appearance="outline" class="mt-1 full-with">
                <mat-label>Email</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.email"  matInput placeholder="Placeholder">
            </mat-form-field>
        </p>
    </div>

    <div>
          <p>
            <mat-form-field appearance="outline" class="mt-1 full-with">
                <mat-label>Birth Date</mat-label>
                <input [disabled]="loading" [(ngModel)]="birthDate" matInput placeholder="Placeholder" [matDatepicker]="picker">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </p>
    </div>

 
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button [disabled]="loading" mat-button mat-dialog-close>Cancel</button>
  <button [disabled]="loading" mat-button [mat-dialog-close]="true" (click)="saveUser()" cdkFocusInitial >Save</button>
</mat-dialog-actions>
