<mat-card>
  <mat-card-content>
      <table>
            <tr>
                  <th>Name</th>
                  <th>E-Mail</th>
                  <th>City</th>
            </tr>
            <tr>
                  <td>Name</td>
                  <td>emai</td>
                  <td>abda</td>
            </tr>
            <tr>
                  <td>Name</td>
                  <td>emai</td>
                  <td>abda</td>
            </tr>
          
      </table>
   </mat-card-content>
</mat-card>

<button class="add-user-btn" (click)="openDialog()" mat-fab matTooltip="Add User" matTooltipPosition="above" color="primary">
      <mat-icon>add</mat-icon>
</button>