html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
box-sizing: border-box;}

.one-row{
    display: flex;
    gap: 1rem; 
}

.mr-1{
    margin-right: 1rem;
}

.mt-1{
    margin-top: 1rem;
}

.mt-2{
    margin-top: 2rem;
}

.full-with{
    width: 100%;
}

.pin-right-upper-corner{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}